/* owner login page start */
.login-page{
    height: 100vh;
}
.login-page .row{
    height: inherit;
}
/* dashboard form widget component */
.form-widget{
    height: 185px;
}
.form-widget .form-widget-body a{
    height: 185px;
    display: flex!important;
    align-items: center;
    justify-content: center;
}